adeft==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
airium==0.2.6
alembic==1.12.1
altair==5.5.0
aniso8601==10.0.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
arrow==1.3.0
asgiref==3.8.1
attrs==24.3.0
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.16.1
azure-search-documents==11.4.0
bcp47==0.1.0
bcrypt==4.1.1
beautifulsoup4==4.12.3
bioc==2.1
blinker==1.9.0
boto3==1.37.9
botocore==1.37.9
Brotli==1.1.0
cachetools==5.5.0
cachier==3.1.2
cattrs==24.1.2
certifi==2024.12.14
cffi==1.17.1
CFGraph==0.2.1
chardet==5.2.0
charset-normalizer==3.4.1
class_resolver==0.5.4
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.7
contourpy==1.3.1
cryptography==44.0.0
curies==0.10.6
cycler==0.12.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
diskcache==5.6.3
distro==1.9.0
dj-database-url==2.1.0
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
dnspython==2.4.2
docopt==0.6.2
dpath==2.2.0
ecdsa==0.18.0
email-validator==2.1.0.post1
entrypoints==0.4
et_xmlfile==2.0.0
eutils==0.6.0
exceptiongroup==1.2.0
Faker==33.3.1
fastapi==0.104.1
fastobo==0.13.0
favicon==0.7.0
filelock==3.17.0
Flask==3.1.0
flask-cors==5.0.1
Flask-Login==0.6.3
flask-restx==1.3.0
fonttools==4.55.3
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.5.0
fsspec==2025.3.0
funowl==0.2.3
gevent==24.11.1
geventhttpclient==2.3.3
gilda==1.4.0
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.20.3
greenlet==3.1.1
gunicorn==21.2.0
h11==0.14.0
hbreader==0.9.1
htbuilder==0.9.0
httpcore==1.0.7
httptools==0.6.1
httpx==0.28.1
huggingface-hub==0.29.2
idna==3.4
ijson==3.3.0
importlib_metadata==7.2.1
importlib_resources==6.5.2
inflect==7.5.0
inflection==0.5.1
iniconfig==2.0.0
intervaltree==3.1.0
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
json-flattener==0.1.9
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kgcl-rdflib==0.5.0
kgcl_schema==0.6.9
kiwisolver==1.4.8
lark==1.2.2
linkml==1.8.7
linkml-dataops==0.1.0
linkml-owl==0.3.0
linkml-renderer==0.3.1
linkml-runtime==1.8.3
litellm==1.63.3
locust==2.33.2
lxml==5.3.0
Mako==1.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
matplotlib==3.10.0
mdurl==0.1.2
more-click==0.1.2
more-itertools==10.6.0
msal==1.31.1
msal-extensions==1.2.0
msgpack==1.1.0
multidict==6.1.0
narwhals==1.22.0
ndex2==3.10.0
neo4j==5.27.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
oaklib==0.6.21
ols-client==0.1.4
ontogpt==1.0.10
ontoportal-client==0.0.4
openai==1.65.2
openpyxl==3.1.5
packaging==23.2
pandas==2.2.3
pansql==0.0.1
parse==1.20.2
passlib==1.7.4
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
prefixcommons==0.1.12
prefixmaps==0.2.6
prometheus_client==0.21.1
pronto==2.7.0
propcache==0.3.0
protobuf==4.25.5
psutil==7.0.0
psycopg2-binary==2.9.9
pyarrow==18.1.0
pyasn1==0.5.1
pycparser==2.22
pydantic==2.5.1
pydantic-settings==2.1.0
pydantic_core==2.14.3
pydeck==0.9.1
Pygments==2.19.1
PyJSG==0.11.10
PyJWT==2.8.0
pymdown-extensions==10.14
PyMuPDF==1.25.3
pypandoc==1.15
pyparsing==3.2.1
PyShEx==0.8.1
PyShExC==0.9.1
pysolr==3.10.0
pystow==0.7.0
pytest==8.3.5
pytest-logging==2015.11.4
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.6
PyTrie==0.4.0
pytz==2024.1
pywin32==308
PyYAML==6.0.1
pyzmq==26.3.0
ratelimit==2.2.1
rdflib==7.1.2
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-cache==1.2.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3987==1.3.8
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3transfer==0.11.4
scikit-learn==1.4.2
scipy==1.15.2
semsql==0.4.0
ShExJSG==0.8.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.6
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.23
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.4
sssom==0.4.15
sssom-schema==1.0.0
st-annotated-text==4.0.1
st-theme==1.2.2
starlette==0.27.0
streamlit==1.42.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.9.0
tokenizers==0.21.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
typeguard==4.4.2
types-python-dateutil==2.9.0.20241206
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
Unidecode==1.3.8
uri-template==1.3.0
url-normalize==1.4.3
urllib3==1.26.20
uv==0.6.14
uvicorn==0.24.0.post1
validators==0.34.0
watchdog==6.0.0
watchfiles==0.21.0
webcolors==24.11.1
websockets==12.0
Werkzeug==3.1.3
wikipedia==1.4.0
Wikipedia-API==0.8.1
wrapt==1.17.2
yarl==1.18.3
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
